<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <PublishProtocol>FileSystem</PublishProtocol>
    <Configuration>Release</Configuration>
    <TargetFramework>netstandard2.0</TargetFramework>
    <PublishDir>D:\CGAProjects\Rob\landis_ii_dotnet_fork\Landis-ii-Core\Landis-ii-Core\bin\core</PublishDir>
  </PropertyGroup>
</Project>